.notes-container-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.notes-container-header > div {
	display: flex;
}

.label-container {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1em;
	border-radius: 1em;
	height: fit-content;
}

.label-list-container-ind {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	flex-direction: column;
}
