.notes-container-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.notes-container-header > div {
	display: flex;
}

.label-container {
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 5px;
	height: fit-content;
}

.label-list-container-ind {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	flex-direction: column;
}


.label-name{
	font-weight: 700;
	font-size: 1em;
}

.allnotes-container {
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	flex-wrap: wrap;
	padding: 10px;
}
