.note-details-container{
    color: black;
    font-size: 1em;
    padding: 1em;
       border-radius: 10px;
}

.color-schema *{
    text-decoration: none;
    list-style: none;
}

.note-details-container span{
    cursor: pointer;
}

.notes-action{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}