* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: calc(10px + 1vmin);
	text-decoration: none;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
html {
	font-size: 62.5%;
}

:root {
	--primary-color: #9675b4;
	--primary-shade-color: #ddd2f0;
	--secondary-color: #dedede;
	--note-date-color: #751414;


	--black-hl-p5:rgba(0, 0, 0, 0.05);
	--white-hl-p3:rgba(255, 255, 255, 0.3);
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* MAin */
.main-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.main-body {
	display: flex;
	width: 100%;
	min-height: 100vh;
}


input {
	font-size: 1em;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-weight: 600;
}

.select-tag {
	font-size: 0.7em;
	font-size: 0.7em;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-weight: 600;
}

span {
	font-size: 1em;
}

span:hover {
	color: #539987;
}

.stretch {
	width: 100%;
}

.title-name {
	color: red;
}

.page-title {
	font-size: 1.5em;
	color: var(--primary-color);
	font-weight: 800;
	text-align: start;
}

.nocontent {
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	flex-direction: column;
	width: 100%;
}

.channel-img {
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
}

.sm-txt {
	font-size: 0.4em;
}

.md-txt {
	font-size: 0.6em;
}

.lg-txt {
	font-size: 0.8em;
}

.xlg-txt {
	font-size: 1em;
}

.xxlg-txt {
	font-size: 1.3em;
}
.big-txt{
	font-size: 3em;
}


.fn-wg-800 {
	font-weight: 800;
}

.fn-wg-700 {
	font-weight: 700;
}

.fn-wg-600 {
	font-weight: 600;
}

.pd-5 {
	padding: 5px;
}
.pd-10 {
	padding: 10px;
}


.gray-txt {
	color: gray;
}

.cursive{
	font-family: cursive;
}
.underline{
	text-decoration: underline;
}


.align-center {
	align-items: center;
}

.align-start{
	align-items: flex-start;
	text-align: start;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}

.flex-cln{
	display: flex;
	flex-direction: column;
}

.space-btwn {
	justify-content: space-between;
}

.flex {
	display: flex;
	gap: 5px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.full-input {
	width: 100%;
	background-color: var(--secondary-color);
}

.full-width {
	width: 100%;
}




.card-body-channel {
	display: flex;
	justify-content: flex-start;
	font-size: 1.2em;
	align-items: center;
}

.pd-btm {
	padding-bottom: 2px;
}

.outlet-body {
	padding-left: 2em;
	width: 100%;
	background-color: var(--black-hl-p5);
}

.notes-container {
	padding-top: 2em;
	width: 100%;
}

.holder {
	height: 30rem;
	width: 100%;
}

button:hover {
	cursor: pointer;
}
